# Default MQTT listener
listener 1883

# WebSocket listener
listener 9001
protocol websockets

# Allow anonymous connections
allow_anonymous true




#sudo systemctl restart mosquitto
#sudo nano /etc/mosquitto/mosquitto.conf
#sudo systemctl status mosquitto
mosquitto_sub -h localhost -t '#' -v # to see what topic