body {
    font-family: Arial, sans-serif;
    background-color: #0a001b;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #580808;
    position: fixed;
    top: 5px;
    width: 100%;
    z-index: 1000;
    margin-bottom: 20px; /* Increased margin-bottom to create more space between the navbar and the widget */
    border-radius: 10px; /* Added rounded corners */
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#messages {
    display: flex;
    align-items: center;
    margin-top: 80px; /* Adjust for the navbar height + 20px additional space */
    width: 80%;
    max-width: 600px;
    color: rgb(212, 18, 93);
}

.gauge {
    width: 300px;
    height: 160px;
}

.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.gauge-title {
    color: #ee081b;
    font-size: 16px;
    margin-bottom: 5px;
}

.weather-widget {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 60px; /* Increased margin-top to create more space between the widget and the menu */
}

.weather-widget h2 {
    margin: 0;
    font-size: 24px;
}

.weather-widget p {
    margin: 5px 0;
}

.gauge-wrapper {
    display: flex;
    justify-content: center; /* Center the gauges horizontally */
}
/* Add this to your styles.css file */

#control-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

#control-buttons button {
    background-color: #580808;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#control-buttons button:hover {
    background-color: #a00d0d;
}