body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: rgb(167, 176, 236);
}

h1, h2, h3 {
    color: #2a07f6;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
}

code {
    font-family: Consolas, "Courier New", monospace;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}