body {
    font-family: Arial, sans-serif;
    background-color: #010140;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #111111;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #e20b0b;
    font-size: 50px;
    border-bottom: 1px solid #470202;
}

.news-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.news-item:last-child {
    border-bottom: none;
}

.news-title {
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
}

.news-title:hover {
    text-decoration: underline;
}

.news-url {
    font-size: 14px;
    color: #3e3b3b;
}